@media (min-width:1024px){.mdl-layout--fixed-drawer > .mdl-layout__header { margin-left: 240px; width: calc(100% - 240px);}}
html, body{font-family:'Roboto', 'Helvetica', sans-serif;font-size:13px;}
.mdl-layout__drawer .mdl-navigation{padding-top:0;}
.mdl-layout__drawer{position:fixed;overflow:visible;}
.sidebarmenulist{list-style-type:none;margin:0;padding:0;}
.sidebarmenulist ul{display:none;margin:0;padding:0;}
.sidebarmenulist li.has-sub.on > a{background-color:#141A1E;color:#fff;}
.sidebarmenulist li a{position:relative;display:block;color:#ffffff;font-size:16px;line-height:18px;padding:15px 10px;margin:0;font-weight:normal;cursor:pointer;background-repeat:no-repeat;background-position:96% center;text-decoration:none;outline:none;}
.sidebarmenulist li a i{font-size:21px;vertical-align:text-bottom;margin-right:10px;}
.sidebarmenulist li a img{width:24px;height:auto;margin-right:10px;}
.sidebarmenulist li a span{width:27px;height:30px;margin-right:10px;display:inline-block;background-image:url(../images/menuicons2.png);background-repeat:no-repeat;background-position:0 0;vertical-align: text-bottom;}
.sidebarmenulist li.dashboard a span{background-position:0 0;}
.sidebarmenulist li.general a span{background-position:0 -330px;}
.sidebarmenulist li.teamleaders a span{background-position:0 -300px;}
.sidebarmenulist li.iwash a span{background-position:0 -30px;}
.sidebarmenulist li.iconc a span{background-position:0 -511px;}
.sidebarmenulist li.ideliver a span{background-position:0 -60px;}
.sidebarmenulist li.imaintain a span{background-position:0 -90px;}
.sidebarmenulist li.ipest a span{background-position:0 -120px;}
.sidebarmenulist li.ilaundry a span{background-position:0 -150px;}
.sidebarmenulist li.ispa a span{background-position:0 -180px;}
.sidebarmenulist li.itutor a span{background-position:0 -210px;}
.sidebarmenulist li.ihandyman a span{background-position:0 -240px;}
.sidebarmenulist li.administrator a span{background-position:0 -270px;}
.sidebarmenulist li.notifications a span{background-position:0 -360px;}
.sidebarmenulist li.customer a span{background-position:0 -390px;}
.sidebarmenulist li.feedback a span{background-position:0 -420px;}
.sidebarmenulist li.settings a span{background-position:0 -450px;}
.sidebarmenulist li.iclean a span{background-position:0 -480px;}
.sidebarmenulist li ul li a{padding:12px 10px 12px 15px;background-color:transparent;color:#e9f5e9;font-size:14px;}
.sidebarmenulist li ul{padding:10px 0;background-color:#141A1E;}
.sidebarmenulist li.active ul li a.menuselected{color:#FFD920;}
.sidebarmenulist > li.has-sub > a:after{content:'keyboard_arrow_down';font-family:'Material Icons';color:#4F6068;font-size:27px;position:absolute;right:12px;top:25px;font-feature-settings:"liga";}
.sidebarmenulist > li.has-sub.on > a:after{content:'keyboard_arrow_up';}
.sidebarmenulist > li > a.menuselected,.sidebarmenulist > li.active > a{color:#ffea00;}
.sidebarmenulist > li > a > i,
.sidebarmenulist > li.active > a > i{color:#00b0ff;}
.sidebarmenulist > li > a:hover:after,
.sidebarmenulist > li.active.has-sub > a:after,
.sidebarmenulist > li.has-sub.on > a:after{text-decoration:none;color:#4F6068;}
.demo-avatar{height:auto;margin:5px auto;width:125px;}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button{color:rgba(0, 0, 0, 0.54);}
.mdl-layout__drawer .avatar{margin-bottom:16px;}
.demo-drawer{border:none;}
.demo-drawer .mdl-menu__container{z-index:-1;}
.demo-drawer .demo-navigation{z-index:-2;}
.demo-drawer .mdl-menu .mdl-menu__item{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.demo-drawer-header{box-sizing:border-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;padding:16px;height:151px;background:#4b3691;}
.demo-avatar-dropdown{display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-ms-flex-align:center;align-items:center;width:100%;}
.demo-navigation{-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;}
.demo-layout .demo-navigation .mdl-navigation__link{display:-webkit-flex !important;display:-ms-flexbox !important;display:flex !important;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-ms-flex-align:center;align-items:center;color:rgba(255, 255, 255, 0.56);font-weight:500;}
.demo-content{/*max-width:1080px;*/margin:0 auto;}
.demo-charts{-webkit-align-items:center;-ms-flex-align:center;align-items:center;text-align:center;padding-top:15px;padding-bottom:15px;}
.demo-charts label{background:#fff;border-radius:4px;color:#666;display:inline-block;font-size:13px;margin:10px 0 0;padding:0 5px;text-transform:uppercase;}
.chart{position:relative;text-align:center;}
.demo-chart span.percentage{color:#999;font-size:38px;text-align:center;position:absolute;width:100%;top:45%;left:0;}
.demo-graphs{padding:16px 32px;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;}
_:-ms-input-placeholder,:root .demo-graphs{min-height:664px;}
_:-ms-input-placeholder,:root .demo-graph{max-height:300px;}
.demo-graph:nth-child(1){color:#00b9d8;}
.demo-graph:nth-child(2){color:#d9006e;}
.demo-cards{-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-align-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;}
.demo-cards .demo-separator{height:32px;}
.demo-cards .mdl-card__title.mdl-card__title{color:white;font-size:24px;font-weight:400;}
.demo-cards ul{padding:0;}
.demo-cards h3{font-size:1em;}
.demo-updates .mdl-card__title{min-height:200px;background-position:center center;background-repeat:no-repeat;background-image:url(../images/payment.png);}
.demo-options h3{margin:0;}
.demo-options .mdl-checkbox__box-outline{border-color:rgba(255, 255, 255, 0.89);}
.demo-options ul{margin:0;list-style-type:none;}
.demo-options li{margin:4px 0;}
.demo-options .material-icons{color:rgba(255, 255, 255, 0.89);}
.demo-options .mdl-card__actions{height:64px;display:-webkit-flex;display:-ms-flexbox;display:flex;box-sizing:border-box;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
canvas{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{padding:16px;}
.mdl-data-table.mdl-data-table--selectable td:first-of-type,
.mdl-data-table.mdl-data-table--selectable th:first-of-type{width:75px;}
.mdl-data-table td.actions-td-cls a{position:relative;background:#cfd8dc;border-radius:100%;color:#424242;display:block; float:right; font-size:16px;height:24px;line-height:26px;margin:0 0 0 3px;padding:0;text-align:center;width:24px;border:#cfd8dc solid 1px;}
.mdl-data-table td.actions-td-cls a.deletefaicon:after{position:absolute;font-family: 'Material Icons';font-weight: normal;font-style: normal;font-size: 16px;line-height: 1;letter-spacing: normal;text-transform: none;display: inline-block;white-space: nowrap;word-wrap: normal;
-moz-font-feature-settings:'liga';font-feature-settings:'liga';-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;color: #424242;left: 3px;top: 3px;content:'delete';}
.mdl-data-table td.actions-td-cls a:hover{background:#b0bec5;}
.mdl-data-table td.actions-td-cls .material-icons{font-size:16px;}
.mdl-data-table td img{width:50px;height:auto;}
.mdl-card__supporting-text{text-align:center;border-top:#d9ebff dashed 3px;}
.mdl-card__supporting-text h4{color:#000;margin:0;padding:0;font-size:18px;font-weight:500;}
.mdl-card__supporting-text p{color:#00B0FF;margin:0;padding:10px 0px 0px;font-size:27px;font-weight:400;}
.mdl-card__supporting-text p span{font-size:17px;}
.table-responsive{overflow-x:auto;min-height: 203px;}
.add-button{bottom:0;display:block;margin-bottom:20px;margin-right:40px;position:fixed;right:0;z-index:900;}
.mdl-dialog{width:768px;}
@media (max-width:800px){.mdl-dialog{width:auto;}}
.mdl-textfield__label{color:rgba(0, 0, 0, 0.54);}
.mdl-textfield--expandable .mdl-button--icon{top:20px;}
.mdl-data-table thead .mdl-button--icon{font-size:18px;height:24px;min-width:24px;width:24px;background:#cfd8dc;color:#424242;}
.mdl-data-table thead .mdl-button--icon .material-icons{font-size:18px;}
.mdl-data-table thead .mdl-button--icon:hover{background:#b0bec5;}
.inline-block{display:inline-block;}
.inline-block .mdl-checkbox{padding-right:10px;}
.mdl-dialog__content .mdl-checkbox,
.mdl-dialog__content input,
.mdl-dialog__content select{color:rgba(0, 0, 0, 0.75);}
.label-only{display:block;padding-bottom:7px;font-size:16px;}
.mdl-textfield__input_hint{font-size:12px;margin-top: -23px;}
.mdl-textfield__error_hint{width:100%; background:#fff;}
#gmap,#gmapedit,.googlemap{width:100%; height:300px; background: #fff url(../images/gmap-loader.gif) no-repeat center center;}
.mdl-textfield{width:222px;}
.mdl-textfield--expandable{width:auto;}
.pagination i.material-icons{font-size:20px;}
.mdl-data-table{margin-bottom:7px;}
.ng-table th{text-align:left;}
.ng-table-counts{margin:0 10px 10px;}
.ng-table-counts .btn { font-size: 11px;}
.mdl-card__supporting-text{width:100%;}
.padding-15{padding:15px;}
.padding-25{padding:25px;}
.form-inline .form-group label{margin-right:5px;}
.card-box {
    background-color: #ffffff;
    border: 1px solid #ededed;
    margin-bottom: 20px;
    padding: 15px;
	position:relative;
}
.card-box h3{
	color: #797979;
    margin: 0px 0;
	font-size:22px;
	line-height: 30px;
}
.card-box p{
	color: #98a6ad;
	margin:0;
}
.widget-bg-color-icon .bg-icon-info {
    background-color: rgba(52, 211, 235, 0.2);
    border: 1px solid #34d3eb;
	color: #34d3eb;
}
.widget-bg-color-icon .bg-icon-yellow {
	background-color: #faf8e2;
    border: 1px solid #dac804;
    color: #dac804;
}
.widget-bg-color-icon .bg-icon-success {
    background-color: rgba(129, 200, 104, 0.2);
    border: 1px solid #81c868;
	color: #81c868;
}
.widget-bg-color-icon .bg-icon-warning {
    background-color: rgba(142, 141, 208, 0.2);
    border: 1px solid #6864a5;
    color: #6864a5;
}
.widget-bg-color-icon .bg-icon {
    background-clip: padding-box;
    border-radius: 50%;
    height: 48px;
    text-align: center;
    width: 48px;
	position:absolute;
	left:10px;
	top:15px;
}
.widget-bg-color-icon .bg-icon i {
    font-size: 24px;
    line-height: 48px;
}
#message{width:100%;}
#flashMessage.message{
    /*margin-left: 240px;width: calc(100% - 240px);*/
    margin: 8px;
    padding:15px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); background:#fff;}
#flashMessage.message{background:#fff8af;}
#flashMessage.message.error{background:#f2dede;font-weight:600;}
.mdl-menu__container .btn.btn-link{color: #e53935;padding-left: 0;padding-right: 0;width:100%;text-align:left;}
.mdl-menu__container .btn.btn-link:hover{text-decoration:none;}
.dashboard-content{padding:25px;}
.dshbcnttitle{padding:15px 0;color:#263238; font-size:16px;font-weight:500;}
.margin0{margin:0;}
.table th { color: #666; font-size: 12px; font-weight: 500;}
.mdl-textfield--floating-label .mdl-textfield__label,.label-only,.mdl-selectfield--floating-label .mdl-selectfield__label {color: rgb(0, 188, 212); font-size: 12px; top: 4px; visibility: visible;}
.mdl-layout__header-row .mdl-textfield--expandable{display:none;}
.mdl-checkbox__box-outline {border-radius: 0;}
textarea {font-size: 13px !important;/* resize: none;*/ line-height:20px;}
@media (max-width:768px){
.mdl-data-table td { text-align: left;}
.dashboard-content {
    padding: 15px 0;
}
}
.filter-control{position:relative;}
.filter-control .form-control{font-size:12px;padding:2px 0;height:auto; line-height:normal;border-width:0 0 1px 0; border-color:#ccc; cursor:pointer; -moz-appearance:none;}
.filter-control .form-control option{padding:0;}
.filter-control:after{ position:absolute; right:0; top:-4px; content: ""; width: 19px; height: 19px; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ");}
div.input.file{padding:10px 0;}
text-red{color:#F00;}
/*.mdl-selectfield:after{
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.26);
    display: block;
    height: 0;
    outline: medium none;
    width: 0;
	bottom: 45%;
	right:0;
    content: "";
    display: block;
    position: absolute;
}*/
.mdl-selectfield .mdl-selectfield__select{background-repeat:no-repeat; background-position:center right; cursor:pointer; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAQ0lEQVRIiWNgGAWjYBQMc3D27Nn6M2fO/MeHT58+3UCRJadPn26gmeH4fEI1w5Es6UcyvICqhiNbQjPDR8EoGAXkAwC6zWCbCkvshwAAAABJRU5ErkJggg==");}
.dashbooking a{display:block;padding:10px 0; text-align:center;}
.dashbooking a img{max-width:100%;}
.dashbooking a small{display:block;padding:4px 0 0; font-size:13px; color:#333;}
.dashbooking div{border-bottom:#ccc solid 1px; border-right:#ccc solid 1px;}
.dashbooking div:last-child{border-right:#ccc solid 0px;}
.dashbookingbtm.dashbooking div{border-bottom:#ccc solid 0px;}
.dashbookingbtm.dashbooking div:last-child{border-right:#ccc solid 1px;}
@media (max-width:768px){
	.dashbooking div:nth-child(even){border-right:#ccc solid 0px;}
	.dashbookingbtm.dashbooking div{border-bottom:#ccc solid 1px;}
	.dashbookingbtm.dashbooking div:nth-child(3),
	.dashbookingbtm.dashbooking div:nth-child(4){border-bottom:#ccc solid 0px;}
}
.custom-select{position:relative;}
.custom-select:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 6px;
    content: " ";
    height: 0;
    margin-top: -3px;
    position: absolute;
    right: 6px;
    top: 37px;
    width: 0;
}
.custom-select select.form-control{-moz-appearance: none;cursor: pointer;}
label.error{color:#E53935; font-size:11px; display:block;}
.form-control.error{border-color:#E53935;}
.circle {
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    min-width: 24px;
	padding:0 2px;
	display: inline-block;
}

.statuslist{
	display: block;
    padding: 15px 0 0 0;
    width: 100%
}

.statuslist label span{
	display: inline-block;
	width:10px;
	height:10px;
	vertical-align:middle;
	margin:0 2px 0 8px;
	border-radius:2px;
}

.statuslist label{
	font-size:12px;
	color:#555;
}
.modal-body .form-group label{display:block; color:#666;}
.td-in-link{position:relative;color: rgb(64,196,255);font-weight: 500;}
.td-in-link a{width:100%;height:100%;display:block;position:absolute;left:0;top:0;}

.mdl-layout__header-row {position:relative;}
#menu-button{
	left: 7px;
    position: absolute;
    top: 20px;
	cursor:pointer;
}
.menubuttonclicked .mdl-layout__drawer {
    transform: translateX(-240px);
}
.menubuttonclicked .mdl-layout__content {
    margin-left: 0px;
}
.menubuttonclicked.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header{
    margin-left: 0px;
    width: calc(100% - 0px);
}
@media (max-width:1024px){
	#menu-button{
		display:none;
	}
}
@media (min-width:1025px){
	.mdl-layout__drawer-button{
		display:none;
	}
}
.checkbox-custom,
.input.checkboxes .checkbox{
    position: relative;
    display: block;
}

.input.checkboxes.inline .checkbox{
    display: inline-block;
}

.checkbox-custom input[type="checkbox"],
.input.checkboxes .checkbox input[type="checkbox"]{
    opacity: 0;
    z-index: 1;
    margin: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkbox-custom span,
.input.checkboxes .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 0 0 21px;
    margin: 0px;
    line-height: 17px;
    font-weight: normal;
    cursor: pointer;
}

.checkbox-custom span:before,
.input.checkboxes .checkbox label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 0px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox-custom input[type="checkbox"]:checked + span:before,
.input.checkboxes .checkbox input[type="checkbox"]:checked + label:before {
    background-color: rgb(0, 188, 212);
    border-color: rgb(0, 188, 212);
}

.checkbox-custom input[type="checkbox"]:checked + span:after,
.input.checkboxes .checkbox input[type="checkbox"]:checked + label:after {
    font-family: "Material Icons";
	content: "done";
	font-feature-settings:"liga";
}
.checkbox-custom span:after,
.input.checkboxes .checkbox label:after {
    display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 1px;
	top: 0px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}
table thead th .asc,
table thead th .desc{
	background-position: right 3px;
    background-repeat: no-repeat;
    padding-right: 20px;
}

table thead th .desc {
    background-position: right -5px;
}

table thead th .asc {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==");
}

table thead th .desc {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ");
}
.multiplier-hint{
	display: block;
	margin: -20px 0 0;
}

/*.input-group.date .form-control[readonly] {
    background-color: #fff;
}*/

tr.no-records-found td {
    text-align: left !important;
}
.input-group.date:after{
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 87%;
	z-index: 5;
	height: 100%;
}