.blank-label {
    width: 100%;
}

table tr td {
    vertical-align: middle;
}

table tr td .btn {
    margin-top: 6px !important;
}
/*-------------------- Check box ----------------*/
.check-box-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 8px;
}

/* Hide the browser's default checkbox */
.check-box-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #a0a0a0;
}

/* On mouse-over, add a grey background color */
.check-box-label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-box-label input:checked ~ .checkmark {
    background-color: #2196F3;
    animation:mycheckbox 0.5s linear;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-box-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-box-label .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition:1s;

}

@keyframes mycheckbox {
    10% {box-shadow:0px 1px 10px #169bd5;}
    100% {box-shadow:0px 0px 0px;}
}

.relative {
    position: relative;
}

/*----------- File Input -------*/
.my-input-file {
    opacity: 0;
    cursor: pointer
}

.file-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    border: 1px dashed #a0a0a0;

}

/*---Partner Portal side menu ------*/
.partner-portal-sidemenu li a span {
    background-image: none !important;
    vertical-align: middle;
}

.partner-portal-sidemenu li a span .fa{
    color:rgb(64,196,255);
}

/*----------- Basic Settings -------*/
.admin_settings .fa {
    font-size: 46px;
}
.radio-btn-fix
{
    padding-right: 26px;

}
.radio-btn-margin
{
    margin-left: 3px!important;
}
.conceirge-txtarea
{
    border: 1px solid #ccc;
    margin-top: 15px;
}
