@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
        url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'open_sansregular', sans-serif;
    margin:0px;
    padding:0px;
    color:#333333;
    font-size:14px;
}
.float-fullwidth {
    float:left;
    width:100%;
}
h1,h2,h3,h4,h5,ul,li,p,form {
    margin:0px;
    padding:0px;
}
*,div,div:before,div:after {
    box-sizing:border-box;
}
a, a:hover { text-decoration:none; }
.container { width:1077px; margin:0 auto;}
.search-section { float:left; width:100%;margin-top: 15px;    margin-bottom: 20px;}
.title-1 { float:left; width:75%; background-color:#4b3691; color:#fff; position: relative; box-shadow: 0px 8px 12px #000;}
.title-1 h3 { padding:10px; position:relative;}
.black {
    position: absolute;
    left: 6px;
    top: 46px;
    width: 20px;
    height: 22px;
    transform: rotate(181deg);
}
.content-area {
    float: left;
    width: 78%;
    border: 2px solid #ccc;
    margin-left: 24px;
    margin-top: -20px;
    padding-bottom: 10px;
    background-color:rgba(196,196,196,0.1);
}
.service-category { float:left; width:100%; padding-top: 50px;}
.service-category h4 { float:left; width:50%; padding-left: 10px;}
.service-category img { border:1px solid #000; box-shadow: 0 0 5px #000;}
.service-option {
    margin-top: 35px;}
.search-box { float:left; width:100%;margin-top: 20px;}
.search-btn { float:left;margin-top: 22px; margin-left:10px;width:100%;margin-bottom: 20px;}
.search-btn a {
    background: #dfcf1e;
    border: 0px;
    padding: 2px 25px;
    font-size: 18px;
    color:#000;
    text-decoration:none;
}
.search-btn a:hover { background:#4b3691; color:#fff;}
.search-area { float:left; width:100%; padding-top:30px;}
.search-area h5 { font-size:11px; padding-top:10px;}
.search-img { padding:10px; margin-top:10px;}
.search-img img { width:100%;margin-top: 10px;}
.offer-image{ float:left;padding-left: 10px;    margin-left: 42px;}
.img-content-area{ float:left; width:100%;}

.img-content-left{padding: 0;}
.img-content-right{padding: 0;}
.img-content-left h5{font-size: 12px; padding-top: 10px;text-align: center; color: #4b3691;font-weight: 600;    margin-bottom: 17px;}
.img-content-right h5{font-size: 11px; padding-top: 10px;text-align: left;}
.view-more-btn { float:left; width:100%; text-align: center;    margin-left: 144px;}
.search-img a img:hover{transition: .4s ease-in-out;transform: scale(1.02);}
.inner-content img {padding: 50px 25px 20px;}
.price {color: red;font-size: 25px; float:left; width:100%; padding-top:10px; text-align:center;}
.single-item {float: left;width: 98%;margin: 59px 10px 10px;}
.full-width img {  width: 50%;
                   height: 50%;
                   margin-left: 205px;}
.slick-dots { bottom:0px!important;}
.business-content { float:left; width:100%;text-align:center;}
.working-hours { float:left; width:100%;}
.working-hours h4 { text-align:center; color:#27a6de; font-size:20px; border-bottom:1px solid #27a6de; padding-bottom: 10px;padding-top: 20px;}
.working-hours ul {
    font-size: 16px;
    font-weight: 600;
    color: #ea6c0f;
    padding-top: 10px;
}
.working-hours ul li { list-style:none;padding-top: 10px;}
.inner-container {width:930px; margin:0 auto;}
.fa-clock-o:before { font-size:25px; color:#3300FF; padding-right:10px;}
.proceed-btn {
    float:left; 
    width:100%;
    text-align:center;
}
.proceed-btn a { 
    background: #dfcf1e;
    padding: 6px 50px;
    font-size: 20px;
    color: #fff;
    text-decoration:none;
}
.proceed-btn a:hover { background:#4b3691;}
.table tbody{ background:#ccc; text-align:center;}
.table thead th { text-align:center; background:#0c82b4; color:#fff;}
.view-more {
    background:#0c82b4;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    float: left;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    float: left;
    width: 100%;
}
.td-1 { text-align:right;}
.td-2 { text-align:left;}
.price-color {font-size: 16px!important;color: #ee4b18;}
.fa-inr { padding-left:10px;}
.red-color {color:#e53935;padding: 10px 0;}
.partner-portal p span { color:#4b3691;}
.space-need { float:right; padding:0;}
.fa-mobile {font-size: 22px!important;color:#4b3691;}
.fa-institution {color:#4b3691;}
.fa-envelope, .fa-user, .fa-calendar {color:#4b3691;}
.text-center{ padding:0;}
.blue-color {color:#01b0ff;}
.color-change { color:#337ab7;}
.response-recieve,.respond-modal { color:mediumvioletred;}
.border-left {    border-left: 1px solid #ccc;}
.color-1 {color:#01b0ff;}
.padding-0 { padding: 0;}
.text-center h1 { font-size: 24px;}
.border-right{ border-right: 1px solid #ccc;}
.border{ border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.modal-content { width: 120%;}