@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
        url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family:'roboto-regular';
    src: url('../fonts/roboto-regular');
}
body {
    font-family:'open_sansregular', san serif;
    font-size:14px;
    color:#333333;
    margin:0px;
    padding:px;
}
h1,h2,h3,h4,h5,ul,li,p,form {
    margin:0px;
    padding:px;
}
*,div,div:after,div:before{
    box-sizing:border-box;
}
a,a:hover{text-decoration:none;}
.home-page-section { float:left; width:100%; background:#ccc;}
.container { width:900px; margin:0 auto;}
.content-area { float:left; background:#fff; border-radius:5px;margin: 8px; width:100%; box-shadow: 0 0 10px #ccc;margin-top: 55px;}
.logo-section {
    text-align: center;margin-bottom: 20px;
}
.logo-section img {padding: 10px 0;}
.left-side { float:left; text-align: center;margin-top: 30px;}
.facebook {float:left;width:100%;padding: 10px;margin-bottom: 25px;}
.facebook a {
    background: #507dc0;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
.fa-facebook {
    font-size: 21px;
    padding: 6px;
}
.google {float:left;width:100%;padding: 10px 12px;margin-bottom: 25px;}
.fa-google-plus { font-size:21px; padding:6px;}
.google a { 
    background:#e04830;
    padding: 10px 38px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    box-sizing:border-box;
}
.signin-section { float:left;margin-top: 15px; color:#ca2d14; margin-bottom: 20px;}
.signin-section input {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ca2d14!important;
    border: 0;
}
.signin-section input:focus {
    transition: 0.4s ease-in;
    transform: scaleX(1.01);
    border-bottom: 2px solid #ca2d14 !important;
}
.line {
    width: 2px;
    height: 209px;
    background-color: #6b6867;
    position: relative;
    left: 113px;
}
.or-section {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    padding-top: 12px;
    position: absolute;
    top: 83px;
    left: 107px;
    background: #fff;
}
.signin-section form {margin-bottom: 15px;}
.signin-section form a {
    background: #ffea00;
    color: #000;
    padding: 5px 16px;
    font-size: 14px;
    border-radius: 20px;
    font-family: roboto;
    display: inline-block;
    font-weight: 600;
    box-shadow: 0 2px 2px #ccc;
}
.signin-section form a:hover { background:#507dc0; color:#fff;}
.signup { 
    float:left;
    width:100%;
    padding: 10px;
    font-size: 16px;
    background: #de4931;
    color: #fff;
    margin-top: 10px;
}
.center-or {opacity: 0.5;}
/*Responsive css
-------------------------------------------*/
@media only screen and (max-width:599px) {
    .container {width:100%;}
    .center-or {
        opacity: 0.5;
        transform: rotateZ(90deg);
        position: absolute;
        top: 109px;
        left: 225px;
    }
    .or-section {transform: rotate(270deg);}
    .left-side { width:100%; margin-top:0px;}
    .right-side { width:90%; margin-top:255px;}
    .right-side h4 { text-align:center;color: #0c82b4; font-weight:600;}
    .signin-section{ float:right}

}
@media only screen and (min-width:600px) and (max-width:767px) {
    .container { width:100%;}
    .left-side { width:100%; margin-top:0px;}
    .right-side { width:90%;margin-top: 250px;}
    .right-side h4 { text-align:center;color: #0c82b4;font-weight:600;}
    .center-or {
        opacity: 0.5;
        transform: rotateZ(90deg);
        position: absolute;
        top: 109px;
        left: 225px;
    }
    .or-section {transform: rotate(270deg);}
    .signin-section{ float:right}
    .center-or {top:356;}
}
@media only screen and (min-width:768px) and (max-width:992px) {
    .container{ width:100%;}
    .left-side { width:100%; margin-top:0px;}
    .right-side { width:90%;}
    .right-side h4 { text-align:center;font-weight:600;}
    .center-or {
        opacity: 0.5;
        transform: rotateZ(90deg);
        position: absolute;
        top: 109px;
        left: 225px;
    }
    .or-section {transform: rotate(270deg);}
    .signin-section{ float:right}
    .center-or { display:none;}

}


