@media only screen and (max-width:599px) {
.container {width:100%; padding:0px; padding-left:15px;}
.service-category h4{padding-left: 10px;padding-bottom: 15px; width:100%;}
.service-category { text-align:center;}
.title-1 h3 { font-size:15px;}
.black { top:38px;}
.search-btn{text-align: center; margin-left:0px;}
}
@media only screen and (min-width:600px) and (max-width:767px) {
.container { width:100%;}
}
@media only screen and (min-width:768px) and (max-width:1099px) {
.container{ width:100%;}	}


